<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Human Programmer</h1>
      <hr class="my-4">
      <p class="lead">A programming blog written by a human, for other humans</p>
    </div>
    <nav class="navbar">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/about">About</a>
      <a class="nav-link" href="/impostor_syndrome">Impostor Syndrome</a>
      <a class="nav-link" href="/learners">Learner's Corner</a>
      <a class="nav-link" href="/contact">Contact</a>
    </nav>
  </div>
</header>
